.block-image-info {
  height: 150px;
}

.image-info p {
  margin-bottom: 0;
}

.image-info .image-title {
  font-size: 18pt;
}

.image-info .image-description {
  font-size: 14pt;
}

.block-image-info .image-info {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 93%;
  color: #FFFFFF;
  background: #000;
  padding: 5px 10px;
  filter: alpha(opacity=80);
  opacity: .80;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}