{% extends 'base.html.twig' %}

{% block title %}Edit  Enterprise{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        footer {
            position: relative !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <h1 class="h1">Edit Enterprise <strong>{{ enterprise.name }}</strong></h1>
                </div>
                <div class="col-4">
                    <a class="float-right btn btn-light m-2" href="{{ path('enterprise_index') }}">
                        <i class="fa fa-arrow-left"></i> Back to list
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ include('admin/enterprise/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
